@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fb;
    color: #191c1e;
  }
}

@layer components {
    .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-family: 'Material Symbols Outlined';
    user-select: none;
  }

  .hero-gradient {
    background: radial-gradient(circle at top right, #0f4c81, #00355f);
  }

  .tonal-layer-1 {
    background: #ffffff;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px -1px rgba(15, 76, 129, 0.05);
  }

  .tonal-layer-2:hover {
    box-shadow: 0 10px 15px -3px rgba(15, 76, 129, 0.1),
      0 4px 6px -2px rgba(15, 76, 129, 0.05);
    border-left: 4px solid #3b82f6;
    transform: translateY(-4px);
  }
}
